/* src/components/OrderComplete.css */
.order-complete {
    text-align: center;
    margin-top: 50px;
  }
  
  /* .animation {
    margin: 20px auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: green;
    position: relative;
  } */
  
  .checkmark {
    width: 50px;
    height: 25px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform:rotate(45deg);
    position: absolute;
    top: 35px;
    left: 25px;
  }
  
  .checkmark h2 {
    color: green;
  }
  .deliveryImageContainer{
     
      
  }
  .delvideo{
    height: 400px;
    width: 400px;
  }
  
  
  /* p {
    margin-top: 
  }   */