.app-download {
  display: flex;
  flex-direction: column; /* Default to column for mobile */
  justify-content: space-between;
  align-items: center;
  padding: 20px; /* Adjust padding for mobile */
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  border-radius: 20px;
}

.app-download-content {
  display: flex;
  flex-direction: column; /* Default to column for mobile */
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.app-download-text {
  width: 100%; /* Full width for mobile */
  text-align: center; /* Center align text for mobile */
  margin-bottom: 20px;
}

.app-download-text h1 {
  font-size: 1.5rem; /* Adjust for mobile */
  margin-bottom: 10px;
}

.app-download-text h2 {
  font-size: 1.25rem; /* Adjust for mobile */
  margin-bottom: 15px;
}

.app-download-text p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #555; /* Darker grey for better readability */
}

.app-download-platforms {
  display: flex;
  gap: 10px;
  justify-content: center; /* Center platforms for mobile */
}

.app-download-platforms img {
  width: 120px; /* Adjust for mobile */
  height: auto;
  transition: transform 0.5s;
}

.app-download-platforms img:hover {
  transform: scale(1.05);
}

.app-download-image {
  width: 100%; /* Full width for mobile */
  text-align: center; /* Center image for mobile */
}

.app-download-image img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .app-download {
    flex-direction: row; /* Row layout for tablet and up */
    padding: 40px;
  }

  .app-download-content {
    flex-direction: row;
  }

  .app-download-text {
    max-width: 50vw;
    text-align: left; /* Left align text for larger screens */
  }

  .app-download-image {
    max-width: 50vw; /* Adjust width for larger screens */
  }
}

@media (min-width: 1024px) {
  .app-download-text h1 {
    font-size: 2rem;
  }

  .app-download-text h2 {
    font-size: 1.5rem;
  }

  .app-download-platforms img {
    width: 150px; /* Adjust for larger screens */
  }
}
