.header {
  height: 34vw;
  margin: 30px auto;
  position: relative;
  overflow: hidden;
}

.header-slide {
  height: 34vw;
  background: url('https://res.cloudinary.com/dy3g1sjfe/image/upload/v1721112973/header_img_xzxm5d.png') no-repeat center center;
  background-size: cover;
  position: relative;
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 3s;
}

.header-contents h2 {
  font-weight: 500;
  color: white;
  font-size: max(4.5vw, 22px);
}

.header-contents p {
  color: white;
  font-size: 1vw;
}

.header-contents button {
  border: none;
  color: #747474;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background: white;
  font-size: max(1vw, 13px);
  border-radius: 50px;
  cursor: pointer;
}

.slick-dots {
  bottom: 10px;
}

.slick-dots li button:before {
  color: white;
}

@media (max-width: 1050px) {
  .header {
    height: 38vw;
  }
  .header-contents {
    max-width: 45%;
  }
}

@media (max-width: 750px) {
  .header-contents {
    max-width: 55%;
  }
  .header-contents p {
    display: none;
  }
  .header-contents button {
    padding: 2vw 4vw;
  }
}
